<div class="FooterLinks"><div class="hpFtr_Outer"><div class="hpFtr_Logo"><div id="logoContainer" title=""></div></div><div class="hpFtr_Copyright">© 2016 Microsoft</div></div><div class="hpFtr_Inner" dir="ltr"><ul class="nobullet"><li>
<a href="http://go.microsoft.com/?linkid=8786243">
管理您的設定檔</a></li></ul><ul class="nobullet" id="footerLinksRowTwo"><li>
<a href="https://technet.microsoft.com/cc543196.aspx">
電子報</a></li><li>
<a href="https://technet.microsoft.com/cc512759.aspx">
連絡我們</a></li><li>
<a href="http://go.microsoft.com/fwlink/?LinkId=248681">
隱私權聲明</a></li><li href="http://www.microsoft.com/info/privacy.mspx">
<a href="https://technet.microsoft.com/zh-tw/cc300389">
使用規定</a></li><li>
<a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx">
商標</a></li></ul></div></div>