<div class="FooterLinks"><div class="hpFtr_Outer"><div class="hpFtr_Logo"><div id="logoContainer" title=""></div></div><div class="hpFtr_Copyright">© 2016 Microsoft</div></div><div class="hpFtr_Inner" dir="ltr"><ul class="nobullet"><li>
<a href="https://social.technet.microsoft.com/profile">
Manage Your Profile</a></li></ul><ul class="nobullet" id="footerLinksRowTwo"><li>
<a href="https://technet.microsoft.com/cc543196.aspx">
Flash Newsletter</a></li><li>
<a href="https://technet.microsoft.com/cc512759.aspx">
Contact Us</a></li><li>
<a href="https://privacy.microsoft.com/privacystatement">
Privacy Statement</a></li><li>
<a href="https://technet.microsoft.com/cc300389.aspx">
Terms of Use</a></li><li>
<a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/">
Trademarks</a></li>
<li>
    
    <span class="Pipe"> | </span>
    <a target="_blank" id="bottomsitefeedbacklink" title="Site Feedback" href="https://lab.msdn.microsoft.com/mailform/contactus.aspx?refurl=https%3a%2f%2ftechnet.microsoft.com%2fen-us%2fsecurity%2fbulletins.aspx&amp;loc=en-us">Site Feedback</a>
</li>
</ul></div></div>