<div class="FooterLinks"><div class="hpFtr_Outer"><div class="hpFtr_Logo"><div id="logoContainer" title=""></div></div><div class="hpFtr_Copyright">© 2016 Microsoft</div></div><div class="hpFtr_Inner" dir="ltr"><ul class="nobullet"><li>
<a href="http://go.microsoft.com/?linkid=8786243">
Gerencie seu perfil</a></li></ul><ul class="nobullet" id="footerLinksRowTwo"><li>
<a href="https://technet.microsoft.com/cc543196.aspx">
Boletim informativo</a></li><li>
<a href="https://technet.microsoft.com/cc512759.aspx">
Fale conosco</a></li><li>
<a href="http://go.microsoft.com/fwlink/?LinkId=248681">
Declaração de Privacidade</a></li><li href="http://www.microsoft.com/info/privacy.mspx">
<a href="https://technet.microsoft.com/pt-br/cc300389">
Termos de Uso</a></li><li>
<a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx">
Marcas</a></li></ul></div></div>