<div id="ux-header" dir="ltr" class="ltr " ms.pgarea="header">
        
        
    
    <div id="ux-banner">
        <div class="banner">
            <div class="row">
                <div class="left">En utilisant ce site, vous autorisez les cookies à des fins d'analyse, de pertinence et de publicité</div>
                <div class="middle"><a tabindex="1" href="https://www.microsoft.com/privacystatement/fr-fr/core/default.aspx">En savoir plus</a></div>
                <div class="right"><a tabindex="1" title="Fermer"></a></div>
            </div>
        </div>
    </div>
    
    

        <div class="upperBand">
            <div class="row1">
                <div class="msLogoAndMegablade">
                    <a class="msdnLogoImg" href="https://technet.microsoft.com/fr-fr" title="Technet home" ms.cmpgrp="mslogo">
                        <div id="msft-logo" class="msft-logo"></div>
                    </a><div class="GrayPipe"></div><div class="megabladeMenu" ms.cmpgrp="megablade">
    
    
    <div id="megabladeContainer" class="ltr">
        <div id="megabladeContainerCenter">
            <div id="megabladeMainMenu">TechNet</div>
            <ul id="megabladeItems">
                        <li data-value="hh326172" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">Produits</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>Produits</h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/windows">Windows</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/library/bb625087.aspx">Windows Server</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/library/cc507089.aspx">System Center</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/browser">Browser</a>
    </li>
  </ul>
</div><div class="menuContainerLayout">
  <h5> </h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/office">Office</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/fr-fr/office/dn788774">Office 365</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/fr-fr/office/dn788775">Exchange Server</a>
    </li>
  </ul>
</div><div class="menuContainerLayout">
  <h5> </h5>
  <ul>
    <li>
      <a href="https://msdn.microsoft.com/library/mt590198(v=sql.1)">SQL Server</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/office/dn788776">Produits SharePoint</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/office/dn788773">Skype for Business</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/bb421517.aspx?wt.svl=more_centers_link">Voir tous les produits »</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="hh880860" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">Ressources</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>Resources</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/evalcenter/">Centre d'évaluation</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/bb291022">Ressources d'apprentissage</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/dn440144">App. compl. Microsoft Tech</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/dn550853" title="Microsoft Technical Communities">Microsoft Technical Communities</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/?CR_CC=200157774">Microsoft Virtual Academy</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/scriptcenter">Centre de scripts</a>
    </li>
    <li>
      <a href="http://blogs.technet.com/b/serverandtools/">Blogs sur les serveurs et outils</a>
    </li>
    <li>
      <a href="http://blogs.technet.com/">Blogs TechNet</a>
    </li>
  </ul>
</div><div class="menuContainerLayout">
  <h5> </h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/cc543196">Newsletter TechNet Flash</a>
    </li>
    <li>
      <a href="https://gallery.technet.microsoft.com/">Galerie TechNet</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/library/default.aspx">Bibliothèque TechNet</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/magazine/default.aspx">TechNet Magazine</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/subscriptions">Abonnements TechNet</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/video">Vidéo TechNet</a>
    </li>
    <li>
      <a href="http://social.technet.microsoft.com/wiki">Wiki TechNet</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/sysinternals">Windows Sysinternals</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/virtuallabs">Ateliers virtuels</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Solutions</h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/network">Réseaux</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/cloud/private-cloud">Cloud privé</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/security">Sécurité</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/server-cloud/solutions/virtualization.aspx">Virtualisation</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="hh371326" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">Téléchargements</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>Mises à jour</h5>
  <ul>
    <li>
      <a href="https://support.microsoft.com/">Service Packs</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/security/bulletin">Bulletins de sécurité</a>
    </li>
    <li>
      <a href="http://windows.microsoft.com/fr-fr/windows/windows-update">Microsoft Update</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Évaluations</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/fr-fr/evalcenter/evaluate-windows-server-2012-r2">Windows Server 2012 R2</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/evalcenter/evaluate-system-center-2012-r2">System Center 2012 R2</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/evalcenter/evaluate-sql-server-2014">Microsoft SQL Server 2014 SP1</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/evalcenter/evaluate-windows-8-1-enterprise">Windows 8.1 Enterprise</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/evalcenter/" title="Voir toutes les évaluations">Voir toutes les évaluations »</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Sites connexes</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/fr-fr/download">Centre de téléchargement Microsoft</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/evalcenter/">Centre d'évaluation TechNet</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/download/driver.aspx?q=driver">Pilotes</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/sysinternals">Windows Sysinternals</a>
    </li>
    <li>
      <a href="https://gallery.technet.microsoft.com/">Galerie TechNet</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="jj837158" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">Formation</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>Formation</h5>
  <ul>
    <li>
      <a href="http://www.microsoftimmersion.com/virtualclassroom">Classes virtuelles tenues par des experts</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/training.aspx">Catalogue de formations</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/find-partner.aspx">Rechercher un cours</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/">Microsoft Virtual Academy</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/en-US/training-courses/windows-server-2012-training-technical-overview-8564?l=BpPnn410_6504984382">Cours Windows Server 2012 gratuits</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/product-training/windows?CR_CC=200155697#!lang=1033" title="Free Windows 8 courses">Free Windows 8 courses</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/sql-training.aspx">Formation à SQL Server</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/on-demand-online-courses.aspx">Présentation de l'e-Learning</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Certifications</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/certification-overview.aspx">Présentation des certifications</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/mcsa-windows-10-certifications.aspx">MCSA: Windows 10</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/mcsa-windows-server-certification.aspx">Certification Windows Server (MCSE)</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/private-cloud-certification.aspx">Certification de cloud privé (MCSE)</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/mcsa-sql-certification.aspx">Certification SQL Server (MCSE)</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Autres ressources</h5>
  <ul>
    <li>
      <a href="http://www.technetevents.com/">Événements TechNet</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/fr-fr/learning/second-shot.aspx">Deuxième chance de certification</a>
    </li>
    <li>
      <a href="https://borntolearn.mslearn.net/b/?Redirected=true">Blog Born to Learn</a>
    </li>
    <li>
      <a href="https://www.technicalcommunity.com/default.aspx" title="Microsoft Technical Communities">Find technical communities in your area</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="hh371327" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">Support technique</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>Support TechNet</h5>
  <ul>
    <li>
      <a href="https://support.microsoft.com/gp/contactus81?Audience=Commercial">Au travail</a>
    </li>
    <li>
      <a href="https://msdn.microsoft.com/hh361695">Pour les développeurs</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/ms772425">Pour les professionnels de l’informatique</a>
    </li>
    <li>
      <a href="https://support.microsoft.com/fr-fr/assistedsupportproducts">Pour le support technique</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/en-us/microsoftservices/support.aspx">Offres de support</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Autres liens</h5>
  <ul>
    <li>
      <a href="https://premier.microsoft.com/">Options de support Microsoft Premier</a>
    </li>
    <li>
      <a href="https://social.technet.microsoft.com/forums/">Forums TechNet</a>
    </li>
    <li>
      <a href="https://social.msdn.microsoft.com/forums/">Forums MSDN</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/security/bulletin">Avis et bulletins de sécurité</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Pas un pro ?</h5>
  <ul>
    <li>
      <a href="https://support.microsoft.com/">Support technique Microsoft</a>
    </li>
    <li>
      <a href="http://answers.microsoft.com/">Forums de la communauté Microsoft</a>
    </li>
  </ul>
</div></div>
                        </li>
            </ul>
        </div>
    </div>
    

</div>
                </div>

                <div class="controls" ms.cmpgrp="aux nav">
                    <div id="setting-menu">
                        <div class="mobile-setting-icon"></div>
                    </div>
                    <div class="controlsInternal" style="overflow: visible" ng-controller="authenticateController as auth">

    <div class="PassportScarab" style="display: inline-block">
        <span ng-show="auth.isSignedIn">{{commonResources.hiText}}, {{auth.UserName}}!</span>
        <a id="idPPScarab" ng-click="auth.isSignedIn == false ? auth.login() : auth.logout()">
            <span style="color: blue">{{auth.SigninText}}</span>
        </a>
    </div>
    <div class="dropdown" style="display: inline-block; " ng-controller="localeController as loc">
        <a href="#" class="dropdown-toggle LocaleManagementFlyoutStaticLink" data-toggle="dropdown" id="localDropdown">
            {{loc.selectedLocale.text}}
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="localDropdown">
            <li ng-repeat="locale in loc.locales">
                <a ng-click="loc.changeLocale(locale.locale)">{{locale.text}}</a>
            </li>
        </ul>
    </div>
</div>
                </div>

                <div class="clear"></div>
            </div>

            <div class="row2">
                <div id="gripAndBrandLogo">
                    <div id="grip-menu">
                        <div id="grip" class="menu-icon"></div>
                    </div>
                    <div class="brandLogo" ng-show="title">
    <a href="https://technet.microsoft.com/{{activeLocale}}/security" style="font-size:30px;color:black" ng-bind="title"></a>
</div>
                </div>
                <div id="drawer">

                </div>
                <div id="search-menu">
                    <div class="mobile-search-icon"></div>
                </div>
                

    <div class="SearchBox" ms.cmpgrp="aux nav">
        <form id="HeaderSearchForm" name="HeaderSearchForm" method="get" onsubmit="return Epx.Controls.SearchBox.searchBoxOnSubmit(this);">
            <input id="HeaderSearchTextBox" name="query" type="text" maxlength="200" onfocus="Epx.Controls.SearchBox.watermarkFocus(event, this.title)" onblur="Epx.Controls.SearchBox.watermarkBlur(event, this.title)" aria-labelledby="HeaderSearchButton">
            <button id="HeaderSearchButton" value="" type="submit" class="header-search-button" ms.title="search"></button>
        </form>

        
        

    </div>

                <div class="clear"></div>
             </div>

            <div class="row3">

            </div>
        </div>
        <div class="lowerBand">
            <div class="ux-nav" ms.cmpgrp="main nav">
                <div class="TocNavigation">
   
   <div class="toclevel1">
          <a class="normal" href="" title="Accueil">Accueil</a>
          <a class="active" href="https://technet.microsoft.com/security/bulletins" title="Mises à jour de sécurité">Mises à jour de sécurité</a>
          <a class="normal" href="https://technet.microsoft.com/fr-fr/library/security/" title="Library">Library</a>
          <a class="normal" href="https://technet.microsoft.com/bb969102" title="Formation">Formation</a>
          <a class="normal" href="https://technet.microsoft.com/bb986181" title="Téléchargements">Téléchargements</a>
          <a class="normal" href="https://technet.microsoft.com/bb980617" title="Support">Support</a>
          <a class="normal" href="https://technet.microsoft.com/cc136632" title="Communauté">Communauté</a>
          <a class="normal" href="http://social.technet.microsoft.com/forums/fr-fr/category/securitefr" title="Forums">Forums</a>

    </div>
  
       <div class="toclevel2"> 
               <a href="https://technet.microsoft.com/security/bulletins" title="Bulletins de sécurité" class="normal">Bulletins de sécurité</a>
               <a class="normal" href="https://technet.microsoft.com/security/advisories" title="Avis de sécurité">Avis de sécurité</a>
       <a class="active" id="cloudSecurityTab" class="internava" ui-sref="app.home({locale: activeLocale})" ui-sref-opts="{reload: false}" ng-class="{'active':isDeveloperTabActive==false, 'normal':isDeveloperTabActive == true}">{{commonResources.securityTabCloudSecurity}}</a>
<a class="normal" id="developerTab" class="internava" ui-sref="app.develop({locale: activeLocale})" ui-sref-opts="{reload: false}" ng-class="{'active':isDeveloperTabActive==true, 'normal':isDeveloperTabActive == false}" ng-show="{{showDeveloperTab === 'true'}}">{{commonResources.developerTab}}</a></div>
</div>
            </div>
        </div>
    </div>