<div id="ux-header" dir="ltr" class="ltr " ms.pgarea="header">
        
        

        <div class="upperBand">
            <div class="row1">
                <div class="msLogoAndMegablade">
                    <a class="msdnLogoImg" href="https://technet.microsoft.com/ko-kr" title="Technet home" ms.cmpgrp="mslogo">
                        <div id="msft-logo" class="msft-logo"></div>
                    </a><div class="GrayPipe"></div><div class="megabladeMenu" ms.cmpgrp="megablade">
    
    
    <div id="megabladeContainer" class="ltr">
        <div id="megabladeContainerCenter">
            <div id="megabladeMainMenu">TechNet</div>
            <ul id="megabladeItems">
                        <li data-value="hh326172" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">제품</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>제품</h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/windows">Windows</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/library/bb625087.aspx">Windows Server</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/library/cc507089.aspx">System Center</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/browser">Browser</a>
    </li>
  </ul>
</div><div class="menuContainerLayout">
  <h5> </h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/office">Office</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/ko-kr/office/dn788774">Office 365</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/ko-kr/office/dn788775">Exchange Server</a>
    </li>
  </ul>
</div><div class="menuContainerLayout">
  <h5> </h5>
  <ul>
    <li>
      <a href="https://msdn.microsoft.com/library/mt590198(v=sql.1)">SQL Server</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/office/dn788776">SharePoint 제품</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/office/dn788773">Skype for Business</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/bb421517.aspx?wt.svl=more_centers_link">모든 제품 보기 »</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="hh880860" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">리소스</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>Resources</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/evalcenter/">평가 센터</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/bb291022">학습 리소스</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/dn440144">Microsoft Tech 도우미 앱</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/dn550853" title="Microsoft Technical Communities">Microsoft Technical Communities</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/?CR_CC=200157774">Microsoft Virtual Academy</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/scriptcenter">스크립트 센터</a>
    </li>
    <li>
      <a href="http://blogs.technet.com/b/serverandtools/">서버 및 도구 블로그</a>
    </li>
    <li>
      <a href="http://blogs.technet.com/">TechNet 블로그</a>
    </li>
  </ul>
</div><div class="menuContainerLayout">
  <h5> </h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/cc543196">TechNet 뉴스레터</a>
    </li>
    <li>
      <a href="https://gallery.technet.microsoft.com/">TechNet 갤러리</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/library/default.aspx">TechNet 라이브러리</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/magazine/default.aspx">TechNet 잡지</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/subscriptions">TechNet Subscriptions</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/video">TechNet 비디오</a>
    </li>
    <li>
      <a href="http://social.technet.microsoft.com/wiki">TechNet Wiki</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/sysinternals">Windows Sysinternals</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/virtuallabs">가상 실습</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>Solutions</h5>
  <ul>
    <li>
      <a href="https://technet.microsoft.com/network">네트워킹</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/cloud/private-cloud">사설 클라우드</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/security">보안</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/server-cloud/solutions/virtualization.aspx">가상화</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="hh371326" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">다운로드</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>업데이트</h5>
  <ul>
    <li>
      <a href="https://support.microsoft.com/">서비스 팩</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/security/bulletin">보안 공지</a>
    </li>
    <li>
      <a href="http://windows.microsoft.com/ko-kr/windows/windows-update">Microsoft Update</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>평가판</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/ko-kr/evalcenter/evaluate-windows-server-2012-r2">Windows Server 2012 R2</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/evalcenter/evaluate-system-center-2012-r2">System Center 2012 R2</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/evalcenter/evaluate-sql-server-2014">Microsoft SQL Server 2014 SP1</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/evalcenter/evaluate-windows-8-1-enterprise">Windows 8.1 Enterprise</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/evalcenter/" title="모든 평가판 보기">모든 평가판 보기 »</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>관련 사이트</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/ko-kr/download">Microsoft 다운로드 센터</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/evalcenter/">TechNet 평가 센터</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/download/driver.aspx?q=driver">드라이버</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/sysinternals">Windows Sysinternals</a>
    </li>
    <li>
      <a href="https://gallery.technet.microsoft.com/">TechNet 갤러리</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="jj837158" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">학습</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>학습</h5>
  <ul>
    <li>
      <a href="http://www.microsoftimmersion.com/virtualclassroom">전문가가 이끄는 가상 클래스</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/training.aspx">학습 카탈로그</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/find-partner.aspx">강좌 찾기</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/">Microsoft Virtual Academy</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/en-US/training-courses/windows-server-2012-training-technical-overview-8564?l=BpPnn410_6504984382">무료 Windows Server 2012 교육 과정</a>
    </li>
    <li>
      <a href="https://mva.microsoft.com/product-training/windows?CR_CC=200155697#!lang=1033" title="Free Windows 8 courses">Free Windows 8 courses</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/sql-training.aspx">SQL Server 학습</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/on-demand-online-courses.aspx">E-Learning 개요</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>인증 시험</h5>
  <ul>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/certification-overview.aspx">인증 시험 개요</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/mcsa-windows-10-certifications.aspx">MCSA: Windows 10</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/mcsa-windows-server-certification.aspx">Windows Server 인증 시험(MCSE)</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/private-cloud-certification.aspx">사설 클라우드 인증 시험(MCSE)</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/mcsa-sql-certification.aspx">SQL Server 인증 시험(MCSE)</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>기타 리소스</h5>
  <ul>
    <li>
      <a href="http://www.technetevents.com/">TechNet 이벤트</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/ko-kr/learning/second-shot.aspx">인증 시험 추가 응시</a>
    </li>
    <li>
      <a href="https://borntolearn.mslearn.net/b/?Redirected=true">Born To Learn 블로그</a>
    </li>
    <li>
      <a href="https://www.technicalcommunity.com/default.aspx" title="Microsoft Technical Communities">Find technical communities in your area</a>
    </li>
  </ul>
</div></div>
                        </li>
                        <li data-value="hh371327" class="bladeItem bladeItemWithMenu">
                            <a href="" onclick="return false;">지원</a><span class="caret"></span>
                            <div class="navpage"><div class="menuContainerLayout">
  <h5>제품별 지원</h5>
  <ul>
    <li>
      <a href="https://support.microsoft.com/gp/contactus81?Audience=Commercial">비즈니스용</a>
    </li>
    <li>
      <a href="https://msdn.microsoft.com/hh361695">개발자</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/ms772425">IT 전문가</a>
    </li>
    <li>
      <a href="https://support.microsoft.com/ko-kr/assistedsupportproducts">기술 지원</a>
    </li>
    <li>
      <a href="https://www.microsoft.com/en-us/microsoftservices/support.aspx">지원 제품</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>기타 지원 링크</h5>
  <ul>
    <li>
      <a href="https://premier.microsoft.com/">Microsoft Premier Online</a>
    </li>
    <li>
      <a href="https://social.technet.microsoft.com/forums/">TechNet 포럼</a>
    </li>
    <li>
      <a href="https://social.msdn.microsoft.com/forums/">MSDN 포럼</a>
    </li>
    <li>
      <a href="https://technet.microsoft.com/security/bulletin">보안 게시판 및 자문</a>
    </li>
  </ul>
</div><div class="menuContainerLayoutSplashGuard"></div><div class="menuContainerLayout">
  <h5>일반 사용자 지원</h5>
  <ul>
    <li>
      <a href="https://support.microsoft.com/">Microsoft 고객 지원</a>
    </li>
    <li>
      <a href="http://answers.microsoft.com/">Microsoft 커뮤니티 포럼</a>
    </li>
  </ul>
</div></div>
                        </li>
            </ul>
        </div>
    </div>
    

</div>
                </div>

                <div class="controls" ms.cmpgrp="aux nav">
                    <div id="setting-menu">
                        <div class="mobile-setting-icon"></div>
                    </div>
                    <div class="controlsInternal" style="overflow: visible" ng-controller="authenticateController as auth">

    <div class="PassportScarab" style="display: inline-block">
        <span ng-show="auth.isSignedIn">{{commonResources.hiText}}, {{auth.UserName}}!</span>
        <a id="idPPScarab" ng-click="auth.isSignedIn == false ? auth.login() : auth.logout()">
            <span style="color: blue">{{auth.SigninText}}</span>
        </a>
    </div>
    <div class="dropdown" style="display: inline-block; " ng-controller="localeController as loc">
        <a href="#" class="dropdown-toggle LocaleManagementFlyoutStaticLink" data-toggle="dropdown" id="localDropdown">
            {{loc.selectedLocale.text}}
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="localDropdown">
            <li ng-repeat="locale in loc.locales">
                <a ng-click="loc.changeLocale(locale.locale)">{{locale.text}}</a>
            </li>
        </ul>
    </div>
</div>
                </div>

                <div class="clear"></div>
            </div>

            <div class="row2">
                <div id="gripAndBrandLogo">
                    <div id="grip-menu">
                        <div id="grip" class="menu-icon"></div>
                    </div>
                    <div class="brandLogo" ng-show="title">
    <a href="https://technet.microsoft.com/{{activeLocale}}/security" style="font-size:30px;color:black" ng-bind="title"></a>
</div>
                </div>
                <div id="drawer">

                </div>
                <div id="search-menu">
                    <div class="mobile-search-icon"></div>
                </div>
                

    <div class="SearchBox" ms.cmpgrp="aux nav">
        <form id="HeaderSearchForm" name="HeaderSearchForm" method="get" onsubmit="return Epx.Controls.SearchBox.searchBoxOnSubmit(this);">
            <input id="HeaderSearchTextBox" name="query" type="text" maxlength="200" onfocus="Epx.Controls.SearchBox.watermarkFocus(event, this.title)" onblur="Epx.Controls.SearchBox.watermarkBlur(event, this.title)" aria-labelledby="HeaderSearchButton">
            <button id="HeaderSearchButton" value="" type="submit" class="header-search-button" ms.title="search"></button>
        </form>

        
        

    </div>

                <div class="clear"></div>
             </div>

            <div class="row3">

            </div>
        </div>
        <div class="lowerBand">
            <div class="ux-nav" ms.cmpgrp="main nav">
                <div class="TocNavigation">
   
   <div class="toclevel1">
          <a class="normal" href="https://technet.microsoft.com/ko-kr/security/" title="홈">홈</a>
          <a class="active" href="https://technet.microsoft.com/security/bulletins" title="보안 업데이트">보안 업데이트</a>
          <a class="normal" href="https://technet.microsoft.com/ko-kr/library/security/" title="라이브러리">라이브러리</a>
          <a class="normal" href="https://technet.microsoft.com/bb969102" title="학습">학습</a>
          <a class="normal" href="https://technet.microsoft.com/bb986181" title="다운로드">다운로드</a>
          <a class="normal" href="https://technet.microsoft.com/bb980617" title="지원">지원</a>
          <a class="normal" href="https://technet.microsoft.com/cc136632" title="커뮤니티">커뮤니티</a>

    </div>
  
       <div class="toclevel2"> 
               <a href="https://technet.microsoft.com/security/bulletins" title="보안 공지" class="normal">보안 공지</a>
               <a class="normal" href="https://technet.microsoft.com/security/advisories" title="보안 권고">보안 권고</a>
       <a class="active" id="cloudSecurityTab" class="internava" ui-sref="app.home({locale: activeLocale})" ui-sref-opts="{reload: false}" ng-class="{'active':isDeveloperTabActive==false, 'normal':isDeveloperTabActive == true}">{{commonResources.securityTabCloudSecurity}}</a>
<a class="normal" id="developerTab" class="internava" ui-sref="app.develop({locale: activeLocale})" ui-sref-opts="{reload: false}" ng-class="{'active':isDeveloperTabActive==true, 'normal':isDeveloperTabActive == false}" ng-show="{{showDeveloperTab === 'true'}}">{{commonResources.developerTab}}</a></div>
</div>
            </div>
        </div>
    </div>