# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.vs
/MSRC.Portal.CloudSecurity/bin
/MSRC.Portal.CloudSecurity/obj/Debug
/MSRC.Portal.CloudSecurity.Data.Common/bin/Debug
/MSRC.Portal.CloudSecurity.Data.Common/obj/Debug
/MSRC.Portal.CloudSecurity.DataAccess/bin/Debug
/MSRC.Portal.CloudSecurity.DataAccess/obj/Debug
/MSRC.Portal.CloudSecurity.Tests/bin/Debug
/MSRC.Portal.CloudSecurity.Tests/obj/Debug
/MSRC.Portal.JavascriptResxGenerator/bin
/MSRC.Portal.JavascriptResxGenerator/obj
/MSRC.Portal.TemplateGenerator/bin
/MSRC.Portal.TemplateGenerator/obj
/packages
